html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #1e1e1e;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

canvas {
  touch-action: pan-y;
}

#header {
  background: #111;
}
#game {
  background: #2b2b2b;
}
#footer {
  background: #222;
}

#game-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #2b2b2b;
}